.textEditorContainer {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    overflow: hidden;
    border: 1px solid #6c757d;
}

.inputAnalysisContainer {
    width: 100%;
    max-width: 1000px;
    border: 1px solid #6c757d;
}

.createModuleSubmit {
    width: 100%;
    max-width: 1000px;
}

.moduleTitle {
    width: 100%;
    max-width: 1000px;
}

.createModuleMargin {
    margin-bottom: 30px;
}

.errorBorderColor {
    border: 1px solid red;
}
