@use "../abstract/" as *;

.pieGraphContainer {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.barGraphContainer {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pieGraph {
  position: static;
  background-color: #ffffff;
  padding: 15px 5px;
  border-radius: 8px;
}

.barGraph {
  position: static;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
}
// @media screen and (max-width: 1200px) {
//   .pieGraph {
//     padding: 15px 230px;
//   }
// }

// @media screen and (max-width: 920px) {
//   .pieGraph {
//     padding: 15px 200px;
//   }
// }

@media screen and (max-width: 576px) {
  .barGraphContainer {
    display: block;
    overflow-x: scroll !important;
  }

  .barGraph {
    min-width: 500px;
  }
}
