.paginationIcon {
  font-weight: 600 !important;
}
.bi.bi-chevron-bar-right {
  font-weight: 600 !important;
}

.paginationLightGray {
  color: rgb(74, 74, 74) !important;
}
.paginationGray {
  color: rgb(191, 191, 191) !important;
}

.paginationDropdownMenu {
  min-width: 0px !important;
  border-radius: 0px !important;
}
