@use "../../abstract/" as *;

.QuizContentCont {
  border-radius: 5px;
}

.Quizcontainer2 {
  background-color: $shady-white;
}

.quizNoteBeforeQuiz {
  width: 100%;
  max-width: 500px;
}

.quizInputChecker {
  font-size: 20px !important;
  width: 100% !important;
  max-width: 20px !important;
  cursor: pointer !important;
}

.quizInputCheckerLabel {
  cursor: pointer !important;
}

.quizOption {
  cursor: pointer;
  // box-shadow: 0px 0px 10px rgb(200, 200, 200);
  background-color: transparent;
  border: 1px solid $light-gray;
  border-radius: 5px;
}

.quizOption:hover {
  box-shadow: 0px 0px 5px $primary-color;
}

.quizOptionAnswer {
  box-shadow: 0px 0px 5px $primary-color;
}

.QuizNavItemContainer {
  width: 100%;
}

.QuizTimerColor {
  color: $secondary-color;
}
// Answered Numbers
.QuizNavItem {
  color: $white;
  background-color: #503fb3;
  border: 1px solid $light-gray;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 5px 5px !important;
}

// Skipped Numbers
.QuizNavItemSkip {
  color: $white;
  background-color: $danger-color;
  border: 1px solid $light-gray;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 5px 5px !important;
}

// Not yet answered
.QuizNavItemNone {
  color: $black;
  background-color: $light-gray;
  border: 1px solid $light-gray;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 5px 5px !important;
  border: 1px solid $semi-light-gray;
}

.QuizSmallButtonTemplate {
  color: $black !important;
  border-radius: 0.375rem !important;
  background-color: $semi-light-gray !important;
}

.NotificationBellButton {
  background-color: $bg-color !important;
  border-radius: 50%;
  padding: 0px 4px;
  transition: 0.1s ease-in-out;
}

.NotificationBellButton:hover {
  background-color: $semi-light-gray !important;
}

.NotifButtonContainer {
  position: relative;
  max-width: 200px !important;
}

.NotificationContainer {
  position: absolute;
  top: 35px;
  left: -110px;
  width: 250px;
  max-width: 250px;
  border-radius: 5px;
  background-color: $white;
}

.notificationItem {
  border-top: 1px solid #cacaca;
}

.notificationCount {
  position: absolute;
  top: 20px;
  left: 22px;
  font-size: 12px;
  color: $white;
  font-weight: 600;

  .notificationPara {
    padding: 1px 7px !important;
  }
}
