@use "../../abstract/" as *;

.QuizContentCont {
    border-radius: 5px;
}

.Quizcontainer2 {
    background-color: $shady-white;
}

.quizOption {
    cursor: pointer;
    // box-shadow: 0px 0px 10px rgb(200, 200, 200);
    background-color: transparent;
    border: 1px solid $light-gray;
    border-radius: 5px;
}

.quizOption:hover {
    box-shadow: 0px 0px 5px $primary-color;
}

.quizOptionAnswer {
    box-shadow: 0px 0px 5px $primary-color;
}

.QuizNavItemContainer {
    width: 100%;
}

// Answered Numbers
.QuizNavItem {
    color: $white;
    background-color: #503fb3;
    border: 1px solid $light-gray;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 5px 5px !important;
}

// Skipped Numbers
.QuizNavItemSkip {
    color: $white;
    background-color: $danger-color;
    border: 1px solid $light-gray;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 5px 5px !important;
}

// Not yet answered
.QuizNavItemNone {
    color: $black;
    background-color: $light-gray;
    border: 1px solid $light-gray;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 5px 5px !important;
    border: 1px solid $semi-light-gray;
}

.QuizSmallButtonTemplate {
    color: $black !important;
    border-radius: 0.375rem !important;
    background-color: $semi-light-gray !important;
}
