@use "../abstract/" as *;

// * {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
// }

.loader {
    // position: fixed; kapag gusto mo sakupin yung buong screen, ito rin ung default value na sinet
    position: absolute;
    display: flex;
    background-color: rgba(27, 132, 214, 0.4);
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        color: white;
        font-size: 14px;
        font-family: inter;
    }

    .loading-animation {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 75px;
        width: 100px;
    }

    .loading-animation div:not(:nth-child(5)) {
        border-color: white;
        border-width: 4px;
        border-style: solid;
        height: 50px;
        transform: scaleY(0);
    }

    .loading-animation div:nth-child(1) {
        animation-name: first-loader;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(1, 0.1, 0.1, 1);
    }

    @keyframes first-loader {
        0% {
            transform: scaleY(0);
        }

        25% {
            transform: scaleY(1);
        }

        50% {
            transform-origin: 100% 0;
            transform: scaleY(0);
        }

        75% {
            transform: scaleY(1);
        }

        100% {
            transform: scaleY(0);
        }
    }

    .loading-animation div:nth-child(2) {
        animation-name: second-loader;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-delay: 0.25s;
        animation-timing-function: cubic-bezier(1, 0.1, 0.1, 1);
    }

    @keyframes second-loader {
        0% {
            transform: scaleY(0);
        }

        25% {
            transform: scaleY(1);
        }

        50% {
            transform-origin: 100% 0;
            transform: scaleY(0);
        }

        75% {
            transform: scaleY(1);
        }

        100% {
            transform: scaleY(0);
        }
    }

    .loading-animation div:nth-child(3) {
        animation-name: third-loader;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-delay: 0.5s;
        animation-timing-function: cubic-bezier(1, 0.1, 0.1, 1);
    }

    @keyframes third-loader {
        0% {
            transform: scaleY(0);
        }

        25% {
            transform: scaleY(1);
        }

        50% {
            transform-origin: 100% 0;
            transform: scaleY(0);
        }

        75% {
            transform: scaleY(1);
        }

        100% {
            transform: scaleY(0);
        }
    }

    .loading-animation div:nth-child(4) {
        animation-name: fourth-loader;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-delay: 0.75s;
        animation-timing-function: cubic-bezier(1, 0.1, 0.1, 1);
    }

    @keyframes fourth-loader {
        0% {
            transform: scaleY(0);
        }

        25% {
            transform: scaleY(1);
        }

        50% {
            transform-origin: 100% 0;
            transform: scaleY(0);
        }

        75% {
            transform: scaleY(1);
        }

        100% {
            transform: scaleY(0);
        }
    }

    .loading-animation div:nth-child(5) {
        display: flex;
        position: absolute;
        height: 105px;
        width: 100px;
        opacity: 0;
        transform-origin: 50% 50%;
    }

    .loading-animation div:nth-child(5) img {
        height: 100%;
        width: 100%;
        animation-name: img-loader;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-delay: 5s;
        scale: 1;
    }

    .loading-animation div:nth-child(5) {
        animation-name: fifth-loader;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 3.2s;
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }

    @keyframes fifth-loader {
        from {
            opacity: 0;
            transform: scaleY(0);
        }

        to {
            opacity: 1;
            transform: scaleY(1);
        }
    }

    @keyframes img-loader {
        0% {
            opacity: 1;
            scale: 1;
        }

        50% {
            opacity: 0.5;
            scale: 0.975;
        }

        100% {
            opacity: 1;
            scale: 1;
        }
    }
}
