.MaterialUiTable {
  position: static;
  overflow: hidden !important;
  width: 100%;
  margin: auto;
  max-width: 1070px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1) !important;
}

@media screen and (max-width: 1539px) {
  .MaterialUiTable {
    max-width: 900px;
  }
}

@media screen and (max-width: 1399px) {
  .MaterialUiTable {
    max-width: 720px;
  }
}
@media screen and (max-width: 1199px) {
  .MaterialUiTable {
    max-width: 500px;
  }
}

@media screen and (max-width: 960px) {
  .MaterialUiTable {
    position: static;
    max-width: 800px;
  }
}
