// // Body
// $body-bg: #d3d3d3;
// $white-color: #ffffff;

// // Typography
// $font-family-sans-serif: "Nunito", sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

$primary-color: #1b84d6;
$secondary-color: #07177a;
$white: #ffffff;
$shady-white: #d8e2ef;
$black: #252525;
$bg-color: #edf2f9;
$gray: #36454f;
$light-gray: #d5d5d5;
$danger-color: #dc2626;
